.main-npm {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.navbar-section {
  width: 100%;
  background: #f4f4f4;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 70%;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, font-size 0.3s;
}

.navbar a:hover {
  color: #202327;
  font-size: 19px;
}

.icon a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s, font-size 0.3s;
  padding-right: 10px;
}

.icon a:hover {
  color: #023475;
  text-decoration: underline;
  font-weight: 600;
}

.main-npm {
  color: #1b1414;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.owner-npm {
  color: #1b1414;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-npm h2 {
  font-size: 2.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding-bottom: 0;
}

.owner-npm h4 {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
  align-self: flex-end;
  /* margin-right: 20px; */
}

/* .main-npm h4 {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: #555;
  font-size: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
}
